<div class = "container" >

<h1>My profile</h1>
  <p><%=  @user.email %></p>
  <p><%=  @user.username %></p>
    <h2 class = "title">My listing</h2>
      <div class="row">
      <% @owned_items.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            <div class="card-product-infos">
            <h3><%= item.title %></h3>
            <p><%= item.description %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>

   <h4 class = "title">My bookings</h4>
      <div class="row">
    <% @booked_items.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            <div class="card-product-infos">
              <h5><%= item.title %></h5>
              <p><%= item.description %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
</div>
