<div class = "container" >
  <div class = "profile-card text-align">
    <h1>My profile</h1>
    <p><%= @user.email %></p>
    <p><%=  @user.username %></p>
    <%= cl_image_tag @user.photo, class: "profile-pic" %>
  </div>

  <div class="d-flex justify-content-between">

    <div class = "card-products mr-5">
      <h2>My listing</h2>
      <div class="row">
        <% @owned_items.each do |item| %>
        <div class="col-xs-12 col-sm-6">
        <div class="card card-dashboard">
          <%= link_to item_path(item) do  %>
            <%= cl_image_tag(item.photo, class: "card-dashboard-photo") %>
            <h4><%= item.title %></h4>
            <p><%= truncate item.description, length: 100 %></p>
            <p class="price">€<%= item.price %></p>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class = "card-products ml-5">
      <h2>My bookings</h2>
      <div class="row">
        <% @booked_items.each do |item| %>
        <div class="col-xs-12 col-sm-6">
        <div class="card card-dashboard">
          <%= link_to item_path(item) do  %>
            <%= cl_image_tag(item.photo, class: "card-dashboard-photo") %>
            <h4><%= item.title %></h4>
            <p><%= truncate item.description, length: 100 %></p>
            <p class="price">€<%= item.price %></p>
          <% end %>
          </div>
        </div>
        <% end %>
      </div>

  </div>
</div>

