<% if params[:search].present? %>
  <h1 style="margin-left: 40px;">Items for Rent in <%= params[:search].capitalize %></h1>
<% else %>
  <h1 style="margin-left: 40px;">Items for Rent</h1>
<% end %>
<div class="main-container">
  <div class="cards">
    <% @items.each do |item|  %>
      <div class="card">
        <%= link_to item_path(item) do  %>
          <%= cl_image_tag(item.photo, class: "item_photo") %>
          <h4><%= item.title %></h4>
          <p><%= truncate item.description, length: 100 %></p>
          <p class="price">€<%= item.price %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>