<div class="container">
  <% if policy(Item).show? %>
    <%= cl_image_tag(@item.photo, class: "show_photo") %>
    <br>
    <h4 class="mt-10"><%= @item.title %></h4>
    <br>
    <p><%= @item.description %></p>
    <p> <%= @item.owner.email %> </p>
    <p class="price">€<%= @item.price %></p>
  <% end %>

  <div class="flat-show-card">
  <%= link_to "Book this item", new_item_booking_path(@item) %>
  </div>
</div>
