<% if policy(Item).show? %>
<%= cl_image_tag(@item.photo, class: "jumbotron-show") %>
<div class="container margin-top-negative">
  <br>
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <div class="flex-tile">
        <h4><%= @item.title %></h4>
        <h4 class="price">€<%= @item.price %></h4></h4>
        </div>
        <p><%= @item.address %></p>
      </div>

      <div class="flat-show-card">
        <p><%= @item.description %></p>
      </div>
    </div>
    <div class="col-4">
      <div class="flat-show-card">
        <h4>Book this item!</h4>

        <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :start_date, as: :string, required: true, input_html: {id: "start_date"} %>
        <%= f.input :end_date, as: :string, required: true, input_html: {id: "end_date"} %>
        <%= f.submit %>
        <%#= link_to "Book", new_item_booking_path(@item) %>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

